section.About-us
  .g-wrapper
    .About-us__content
      .About-us__left
        .About-us__subtitle У нас только качественный газон
        .About-us__title Несколько слов о нас
        .About-us__text Рулонный газон является отличным способом в кротчайшие сроки приобрести  красивый участок, лужайку, и наслаждаться свежим воздухом  среди экологически чистого травяного покрытия, которая предлагает  наша квалифицированая компания. Такой способ не займет большого количества времени, затрат и усилий. Нарезку индивидуально для вас мы выполним в течение одного-двух дней , максимально быстро доставим на вашу территорию, после чего профессиональные мастера выполнят укладку рулонного газона на должном уровне.
        .About-us__block
          .About-us__item
            .About-us__heading
              .About-us__number 1
              .About-us__line
            .About-us__text.About-us__text_over Рулонный газон высшего качества от производителя, услуги по доставке и укладке по приемлемой цене.
          .About-us__item
            .About-us__heading
              .About-us__number 2
              .About-us__line
            .About-us__text.About-us__text_over У нас работают высококвалифицированные специалисты закончившие Российский Государственный Аграрный Университет - МСХА имени К.А. Тимирязева.
          .About-us__item
            .About-us__heading
              .About-us__number 3
              .About-us__line
            .About-us__text.About-us__text_over Многолетний опыт, использование проверенных поставщиков и материалов, дает нам повод увеличить гарантию на работы до 2-х лет!
          .About-us__item
            .About-us__heading
              .About-us__number 4
              .About-us__line
            .About-us__text.About-us__text_over Соответствие международным стандартам (IBU), скидки на большие объемы.
      .About-us__right
        .About-us__element
          .About-us__wrap
            img(src="../../images/gorods.jpg").About-us__img
          .About-us__wrap
            img(src="../../images/elits.jpg").About-us__img
        .About-us__element
          .About-us__wrap
            img(src="../../images/teni.jpg").About-us__img
          .About-us__wrap
            img(src="../../images/sport.jpg").About-us__img



