section.About-rullon
  .g-wrapper
    .About-rullon__block
      .About-rullon__description
        .About-rullon__title Рулонный газон тип «Городской»
        .About-rullon__item
          .About-rullon__subtitle ОПИСАНИЕ:
          .About-rullon__text Газон Стандартный - наиболее распространенный вид газонов. Им озеленяют сады и парки, бульвары и скверы, территорию внутри жилых кварталов и промышленных объектов. Травяные смеси для такого газона составляют из растений обладающих высокой невосприимчивостью к изменению погодных условий, при этом они должны быть декоративными и долголетними. Газон необходимо регулярно стричь и поливать. Стандартный газон легко переносит как засушливое и жаркое лето, так и студеную холодную зиму. Он не требует за собой такого ухода и пристального внимания, как, например, спортивный газон. Кроме того, он абсолютно равнодушен к удобрениям, а также способен оказать эффективное сопротивление таким серьезным заболеваниям растений, как выпревание, таяние, ржавчина, пятнистость и т.п.
          .About-rullon__text Газон Стандартный устойчив к механическим повреждениям. На нем можно бегать, прыгать, часто косить, можно даже забывать ухаживать. Семена для такого газона одни из самых недорогих. Однако,   Газон Стандартный  - не бархатистый и не мягкий.
        .About-rullon__item
          .About-rullon__subtitle Состав:
          .About-rullon__text 100% мятликовая смесь из сортов американской селекции Bluechip, Ewerest, Impact,  Nuglade; эксклюзивная смесь мятлик-овсяница. Высокая долговечность, сочная темно-зеленая окраска. Может использоваться для любого долговечного газона, в зонах свободных от затенения.
        .About-rullon__button Узнать цену
      .About-rullon__wrapper
        img(src="../../images/gorodss.jpg").About-rullon__image
    .About-rullon__block
      .About-rullon__description.About-rullon__description_reverse
        .About-rullon__title Рулонный газон тип «Универсальный»
        .About-rullon__item
          .About-rullon__subtitle ОПИСАНИЕ:
          .About-rullon__text Газон Стандартный - наиболее распространенный вид газонов. Им озеленяют сады и парки, бульвары и скверы, территорию внутри жилых кварталов и промышленных объектов. Травяные смеси для такого газона составляют из растений обладающих высокой невосприимчивостью к изменению погодных условий, при этом они должны быть декоративными и долголетними. Газон необходимо регулярно стричь и поливать. Стандартный газон легко переносит как засушливое и жаркое лето, так и студеную холодную зиму. Он не требует за собой такого ухода и пристального внимания, как, например, спортивный газон. Кроме того, он абсолютно равнодушен к удобрениям, а также способен оказать эффективное сопротивление таким серьезным заболеваниям растений, как выпревание, таяние, ржавчина, пятнистость и т.п.
          .About-rullon__text Газон Стандартный устойчив к механическим повреждениям. На нем можно бегать, прыгать, часто косить, можно даже забывать ухаживать. Семена для такого газона одни из самых недорогих. Однако,   Газон Стандартный  - не бархатистый и не мягкий.
        .About-rullon__item
          .About-rullon__subtitle Состав:
          .About-rullon__text 100% мятликовая смесь из сортов американской селекции Bluechip, Ewerest, Impact,  Nuglade; эксклюзивная смесь мятлик-овсяница. Высокая долговечность, сочная темно-зеленая окраска. Может использоваться для любого долговечного газона, в зонах свободных от затенения.
        .About-rullon__button Узнать цену
      .About-rullon__wrapper.About-rullon__wrapper_reverse
        img(src="../../images/universs.jpg").About-rullon__image
    .About-rullon__block
      .About-rullon__description
        .About-rullon__title Рулонный газон тип «Партерный (Элитный)»
        .About-rullon__item
          .About-rullon__subtitle ОПИСАНИЕ:
          .About-rullon__text Газон Стандартный - наиболее распространенный вид газонов. Им озеленяют сады и парки, бульвары и скверы, территорию внутри жилых кварталов и промышленных объектов. Травяные смеси для такого газона составляют из растений обладающих высокой невосприимчивостью к изменению погодных условий, при этом они должны быть декоративными и долголетними. Газон необходимо регулярно стричь и поливать. Стандартный газон легко переносит как засушливое и жаркое лето, так и студеную холодную зиму. Он не требует за собой такого ухода и пристального внимания, как, например, спортивный газон. Кроме того, он абсолютно равнодушен к удобрениям, а также способен оказать эффективное сопротивление таким серьезным заболеваниям растений, как выпревание, таяние, ржавчина, пятнистость и т.п.
          .About-rullon__text Газон Стандартный устойчив к механическим повреждениям. На нем можно бегать, прыгать, часто косить, можно даже забывать ухаживать. Семена для такого газона одни из самых недорогих. Однако,   Газон Стандартный  - не бархатистый и не мягкий.
        .About-rullon__item
          .About-rullon__subtitle Состав:
          .About-rullon__text 100% мятликовая смесь из сортов американской селекции Bluechip, Ewerest, Impact,  Nuglade; эксклюзивная смесь мятлик-овсяница. Высокая долговечность, сочная темно-зеленая окраска. Может использоваться для любого долговечного газона, в зонах свободных от затенения.
        .About-rullon__button Узнать цену
      .About-rullon__wrapper
        img(src="../../images/elitss.jpg").About-rullon__image
    .About-rullon__block
      .About-rullon__description.About-rullon__description_reverse
        .About-rullon__title Рулонный газон тип «Теневыносливый»
        .About-rullon__item
          .About-rullon__subtitle ОПИСАНИЕ:
          .About-rullon__text Газон Стандартный - наиболее распространенный вид газонов. Им озеленяют сады и парки, бульвары и скверы, территорию внутри жилых кварталов и промышленных объектов. Травяные смеси для такого газона составляют из растений обладающих высокой невосприимчивостью к изменению погодных условий, при этом они должны быть декоративными и долголетними. Газон необходимо регулярно стричь и поливать. Стандартный газон легко переносит как засушливое и жаркое лето, так и студеную холодную зиму. Он не требует за собой такого ухода и пристального внимания, как, например, спортивный газон. Кроме того, он абсолютно равнодушен к удобрениям, а также способен оказать эффективное сопротивление таким серьезным заболеваниям растений, как выпревание, таяние, ржавчина, пятнистость и т.п.
          .About-rullon__text Газон Стандартный устойчив к механическим повреждениям. На нем можно бегать, прыгать, часто косить, можно даже забывать ухаживать. Семена для такого газона одни из самых недорогих. Однако,   Газон Стандартный  - не бархатистый и не мягкий.
        .About-rullon__item
          .About-rullon__subtitle Состав:
          .About-rullon__text 100% мятликовая смесь из сортов американской селекции Bluechip, Ewerest, Impact,  Nuglade; эксклюзивная смесь мятлик-овсяница. Высокая долговечность, сочная темно-зеленая окраска. Может использоваться для любого долговечного газона, в зонах свободных от затенения.
        .About-rullon__button Узнать цену
      .About-rullon__wrapper.About-rullon__wrapper_reverse
        img(src="../../images/teniss.jpg").About-rullon__image
    .About-rullon__block
      .About-rullon__description
        .About-rullon__title Рулонный газон тип «Спортивный (Делюкс)»
        .About-rullon__item
          .About-rullon__subtitle ОПИСАНИЕ:
          .About-rullon__text Газон Стандартный - наиболее распространенный вид газонов. Им озеленяют сады и парки, бульвары и скверы, территорию внутри жилых кварталов и промышленных объектов. Травяные смеси для такого газона составляют из растений обладающих высокой невосприимчивостью к изменению погодных условий, при этом они должны быть декоративными и долголетними. Газон необходимо регулярно стричь и поливать. Стандартный газон легко переносит как засушливое и жаркое лето, так и студеную холодную зиму. Он не требует за собой такого ухода и пристального внимания, как, например, спортивный газон. Кроме того, он абсолютно равнодушен к удобрениям, а также способен оказать эффективное сопротивление таким серьезным заболеваниям растений, как выпревание, таяние, ржавчина, пятнистость и т.п.
          .About-rullon__text Газон Стандартный устойчив к механическим повреждениям. На нем можно бегать, прыгать, часто косить, можно даже забывать ухаживать. Семена для такого газона одни из самых недорогих. Однако,   Газон Стандартный  - не бархатистый и не мягкий.
        .About-rullon__item
          .About-rullon__subtitle Состав:
          .About-rullon__text 100% мятликовая смесь из сортов американской селекции Bluechip, Ewerest, Impact,  Nuglade; эксклюзивная смесь мятлик-овсяница. Высокая долговечность, сочная темно-зеленая окраска. Может использоваться для любого долговечного газона, в зонах свободных от затенения.
        .About-rullon__button Узнать цену
      .About-rullon__wrapper
        img(src="../../images/sportss.jpg").About-rullon__image
    

