section.Callback
  .g-wrapper
    .Callback__title Оставьте свои данные и мы вам перезвоним!
    form.Callback__form
      input(type="text" name="name" placeholder="Ваше имя" required).Callback__input
      input(type="text" name="phone" placeholder="Ваш телефон" required).Callback__input
      input(type="text" name="size" placeholder="Размер участка").Callback__input
      button(type="submit").Callback__button Заказать звонок
