section.Contacts-form
  .g-wrapper
    .Contacts-form__subtitle Или оставьте свои данные
    .Contacts-form__title Свяжитесь с нами
    .Contacts-form__content
      .Contacts-form__left
        .Contacts-form__item.Contacts-form__item_mail
          a(href="mailto:sss@m.ru").Contacts-form__link Hello@gmail.com
        .Contacts-form__item.Contacts-form__item_phone
          a(href="tel:3123123").Contacts-form__link +7 (495) 782-09-87
        .Contacts-form__item.Contacts-form__item_fax
          a(href="tel:3123123").Contacts-form__link +7 (495) 782-09-87
        .Contacts-form__item.Contacts-form__item_adr
          .Contacts-form__link Питер, улица Рябиновая, дом 28Ас3
        .Contacts-form__item.Contacts-form__item_clock
          .Contacts-form__link ПН - ВС - 09:00 - 21:00
        .Contacts-form__socials
          .Contacts-form__social
            a(href="#")
              img(src="../../images/icon-twitter.png")
          .Contacts-form__social
            a(href="#")
              img(src="../../images/icon-fb.png")
          .Contacts-form__social
            a(href="#")
              img(src="../../images/icon-presta.png")
      form.Contacts-form__right
        .Contacts-form__block
          .Contacts-form__side
            input(type="text" name="name" placeholder="Ваше имя" required).Contacts-form__input
            input(type="tel" name="tel" placeholder="Телефон" required).Contacts-form__input
            input(type="email" name="email" placeholder="Email").Contacts-form__input
          .Contacts-form__side
            textarea(type="text" name="text" placeholder="Сообщение").Contacts-form__textarea
        .Contacts-form__footer
          button(type="submit").Contacts-form__button Отправить
