section.Delivery
  .g-wrapper
    .Delivery__heading Доставка
    .Delivery__content
      .Delivery__block
        img(src="../../images/deliv-2.png").Delivery__image
        .Delivery__description
          .Delivery__title Мы производим натуральный газон пяти видов в стандартных рулонах  размером 0,4х2,0 м и толщиной 2 см.
          .Delivery__text • 	Отгружается газон в рулонах размером 0,4-2,0 м(площадь – 0,8м2).
          .Delivery__text • 	Вес одного рулона – от 15 до 25 кг, в зависимости от влажности почвы.
          .Delivery__text • 	Отгрузка осуществляется на поддонах размером 1 ч 1,2 м.
          .Delivery__text • 	Вес одного  поддона – от 1000 до 1600 (50 м2 или 63 рулона).
          .Delivery__text • 	Упаковка и погрузка включены в стоимость газонной травы в рулонах.
      .Delivery__block
        img(src="../../images/deliv-2.png").Delivery__image
        .Delivery__description
          .Delivery__title Мы производим натуральный газон пяти видов в стандартных рулонах  размером 0,4х2,0 м и толщиной 2 см.
          .Delivery__text Мы осуществляем доставку любых объемов в любые регоны.<br>Профессиональные водители быстро доставят груз, сохранив качество и первозданный вид.<br>Везем дешево и по Вашему графику!



