footer.Footer
  .g-wrapper
    .Footer__container
      a.Footer__link(href="http://google.com") Академия Газона
      .Footer__socials
        a.Footer__link(href="")
          img(src="../../images/twitter.png").Footer__icon
        a.Footer__link(href="")
          img(src="../../images/facebook.png").Footer__icon

