.Header
  .g-wrapper
    .Header__container
      .Header__text Рулонный газон <br/> Производство, продажа, укладка, уход
      .Header__countdown.Countdown
        .Countdown__text Первым 50 счастливчикам - 30% на рулонный газон!
        .Countdown__timer
          .Countdown__number.days
            span 12.
            .Countdown__label Дней
          .Countdown__number.hours
            span 12.
            .Countdown__label Часов
          .Countdown__number.minutes
            span 12.
            .Countdown__label Минут
          .Countdown__number.seconds
            span 12.
            .Countdown__label Секунд
      .Presents
        .Presents__text При заказе от 1500 м2 «под ключ»* <br> Бензиновая газонокосилка Makita в подарок! <br> Выезд специалиста, замер, консультация - абсолютно бесплатно!
        .Presents__image: include ../../images/present.svg
