.i-Projects
  .g-wrapper
    .i-Projects__container
      .i-Projects__subheading Все клиенты довольны
      .i-Projects__heading Наши проекты
      .i-Projects__tabs
        .i-Projects__tab.i-Projects__tab_active(data-cat="all") Все
        .i-Projects__tab(data-cat="1") Поселок «Сосенки»
        .i-Projects__tab(data-cat="2") Поселок «Сосенки»
      .i-Projects__projects
        .i-Projects__project(data-cat="1" style="background-image: url('/images/3.JPG')"): .i-Projects__hover: include ../../images/loop.svg
        .i-Projects__project(data-cat="2" style="background-image: url('/images/7.JPG')"): .i-Projects__hover: include ../../images/loop.svg
        .i-Projects__project(data-cat="1" style="background-image: url('/images/2.JPG')"): .i-Projects__hover: include ../../images/loop.svg
        .i-Projects__project(data-cat="2" style="background-image: url('/images/10.JPG')"): .i-Projects__hover: include ../../images/loop.svg
        .i-Projects__project(data-cat="1" style="background-image: url('/images/4.JPG')"): .i-Projects__hover: include ../../images/loop.svg
        .i-Projects__project(data-cat="2" style="background-image: url('/images/8.JPG')"): .i-Projects__hover: include ../../images/loop.svg
        .i-Projects__project(data-cat="1" style="background-image: url('/images/5.JPG')"): .i-Projects__hover: include ../../images/loop.svg
