section.Main-contacts
  .g-wrapper
    .Main-contacts__subtitle Свяжитесь с нами
    .Main-contacts__title Контакты
    .Main-contacts__items
      .Main-contacts__item
        .Main-contacts__icon.Main-contacts__icon_adr
        .Main-contacts__what Адрес
        .Main-contacts__text 295 Witting Streets Suite 666, Melbourne, Australia
      .Main-contacts__item
        .Main-contacts__icon.Main-contacts__icon_tel
        .Main-contacts__what Телефон
        a(href="tel:#").Main-contacts__text (01) 479-642-7461
        a(href="tel:#").Main-contacts__text (01) 479-642-7461
      .Main-contacts__item
        .Main-contacts__icon.Main-contacts__icon_mail
        .Main-contacts__what Email
        a(href="mailto:#").Main-contacts__text anderson@hotmail.com
        a(href="mailto:#").Main-contacts__text hello@hotmail.com
    form.Contacts-form__right.Main-contacts__form
      .Contacts-form__block
        .Contacts-form__side.Main-contacts__form_side
          input(type="text" name="name" placeholder="Ваше имя" required).Contacts-form__input.Main-contacts__form_input
          input(type="tel" name="tel" placeholder="Телефон" required).Contacts-form__input.Main-contacts__form_input
          input(type="email" name="email" placeholder="Email").Contacts-form__input.Main-contacts__form_input
        .Contacts-form__side.Main-contacts__form_side
          textarea(type="text" name="text" placeholder="Сообщение").Contacts-form__textarea.Main-contacts__form_textarea
      .Contacts-form__footer.Main-contacts__form_footer
        button(type="submit").Contacts-form__button Отправить


