section.Map
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aee7fd95357510010138a5fe674923503736ce99fc0e41b1ff5068b9c6a5ebc11&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
  .Map__grass
    img(src="../../images/under-footer.png")
