.Mob-menu
  .Mob-menu__top
    .Mob-menu__empty
    .Mob-menu__close
      include ../../images/cross.svg
  .Mob-menu__menu
    a.Mob-menu__item(href="/") Главная
    a.Mob-menu__item(href="/rullons.html") Рулонный газон
    a.Mob-menu__item(href="/costs.html") Цены
    a.Mob-menu__item(href="/contacts.html") Контакты
