.Navigation
  .g-wrapper
    .Navigation__wrapper
      a(href="/").Navigation__logo
        img(src="../../images/logotip.png" width="160")
      .Navigation__content
        .Navigation__top
          .Navigation__information
            .Navigation__left
              .Navigation__item
                include ../../images/clock.svg
                .Navigation__text ПН - ВС - 09:00 - 21:00
              .Navigation__item
                include ../../images/pin.svg
                .Navigation__text Г. САНКТ-ПЕТЕРБУРГ, ЛИФЛЯНДСКАЯ УЛИЦА, ДОМ 6
            .Navigation__right
              .Navigation__item
                include ../../images/phone.svg
                a(href="9207264").Navigation__text 9207264
              .Navigation__item
                include ../../images/envelope.svg
                a(href="mailto:mail@mail.ru").Navigation__text spbgazon@gmail.com
        .Navigation__bottom
          .Navigation__title Лучшие рулонные газоны только у нас!
          .Navigation__links
            a(href="/").Navigation__link.Navigation__link_active ГЛАВНАЯ
            a(href="/rullons.html").Navigation__link РУЛОННЫЙ ГАЗОН
            a(href="/costs.html").Navigation__link ЦЕНЫ
            a(href="/contacts.html").Navigation__link КОНТАКТЫ
          .Navigation__button ОСТАВИТЬ ЗАЯВКУ

.Mobile__line
  .Mobile__phone
    img(src='./../../images/phone.png').Mobile__icon_ph
    a(href="tel:+74957820987").Mobile__link 9207264
  .Mobile__hamburger
    .Mobile__icon
      include ../../images/humburger.svg
