section.Price
  .g-wrapper
    .Price__subtitle Качественные газоны по приемлемой цене
    .Price__title Цена на газон
    .Price__content
      .Price__left
        .Price__item.Price__item_active
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Городской»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 400 - 1400м2
                .Price__val 135 руб.
              .Price__cost
                .Price__size от 1400 - 3000
                .Price__val 125 руб.
              .Price__cost
                .Price__size от 3000 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Для озеленения города рекомендуется применять практичный, неприхотливый к влаге, не требующий прополки сорняков и морозоустойчивый городской газон. Его главным преимуществом является выживаемость при прямых солнечных лучах в скверах и вдоль дорог, и в тени высоких деревьев на бульварах и аллеях, в садах и парках.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 90% Овсяница Audubon, 10% Мятлик Everest
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Универсальный»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 400 - 1400м2
                .Price__val 150 руб.
              .Price__cost
                .Price__size от 1400 - 3000
                .Price__val 140 руб.
              .Price__cost
                .Price__size от 3000 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Преимущественно универсальный газон используется для благоустройства участков, садов и парков. Наиболее популярен у ландшафтных дизайнеров. Универсальный газон устойчив к болезням и вредителям, неприхотлив в уходе и имеет насыщенный изумрудный цвет. Подходит для отдыха и каждодневной эксплуатации.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 2 сорта мятлика (45+45%) 1 сорт овсяницы(10%)
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Партерный (Элитный)»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 400 - 1400м2
                .Price__val 165 руб.
              .Price__cost
                .Price__size от 1400 - 3000
                .Price__val 150 руб.
              .Price__cost
                .Price__size от 3000 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Элитный рулонный газон класса «Премиум» прекрасно подойдет для оформления лужайки перед входной группой на Вашем участке. Трава сохраняет безупречный зеленый оттенок с ранней весны до заморозков, характеризуется замедленным ростом и устойчива заболеваниям. Такой газон станет изюминкой самых видных мест Вашего участка.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 4 сорта мятлика по 25%
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Спортиный»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 400 - 1400м2
                .Price__val 195 руб.
              .Price__cost
                .Price__size от 1400 - 3000
                .Price__val 130 руб.
              .Price__cost
                .Price__size от 3000 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Спортивный рулонный газон используется для обустройства футбольных полей, мест для игры в волейбол, теннис и других видов спорта. Трава этого газона имеет приятный зеленый оттенок, устойчива к механическим повреждениям и быстро регенерируется(восстанавливается), имеет очень плотную структуру за счет правильного подбора травосмесей. Состав: 5 сортов мятлика по 20%.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 5 сортов мятлика по 20%
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Теневыносливый»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 400 - 1400м2
                .Price__val 180 руб.
              .Price__cost
                .Price__size от 1400 - 3000
                .Price__val 165 руб.
              .Price__cost
                .Price__size от 3000 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Зачастую теневыносливый рулонный газон применяется для озеленения тенистой местности, а также в ландшафтном дизайне. Благодаря исключительным свойствам состава , такой газон способен сохранять декоративность даже в тени: под широкими кронами деревьев, в тени кустарников и сооружений.


            .Price__description
              .Price__text_bold Состав:
              .Price__text 15% Мятлик Everest, 15% Мятлик Bluechip plus, 20% Мятлик Impact, 20% Мятлик NuGlade, 30% Овсяница Audubon
      .Price__right
        .Price__wrap
          img(src="../../images/price-img.png").Price__img
        form.Price__callback
          .Price__callback_title Хотите его купить?
          input(type="tel" name="phone" placeholder="Оставьте свой номер телефона" required).Price__input
          button(type="submit").Price__callback_button Заказать газон
