section.Price
  .g-wrapper
    .Price__subtitle Качественные газоны по приемлемой цене
    .Price__title Цена на газон
    .Price__content
      .Price__left
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Спортиный»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 200 - 1200м2
                .Price__val 138 руб.
              .Price__cost
                .Price__size от 1200 - 2500
                .Price__val 130 руб.
              .Price__cost
                .Price__size от 2500 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Универсальный газон удобен своей неприхотливостью, он не требует пристального внимания и особого ухода, не подвержен заболеваниям и воздействию вредителей. Плюсом является устойчивость к высокому уровню влажности, выживаемость в засушливые периоды и в морозную зиму.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 25% мятлик Everest, 25% мятлик Bluechip plus, 25% мятлик Impact, 25% мятлик NuGiade
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Спортиный»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 200 - 1200м2
                .Price__val 138 руб.
              .Price__cost
                .Price__size от 1200 - 2500
                .Price__val 130 руб.
              .Price__cost
                .Price__size от 2500 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Универсальный газон удобен своей неприхотливостью, он не требует пристального внимания и особого ухода, не подвержен заболеваниям и воздействию вредителей. Плюсом является устойчивость к высокому уровню влажности, выживаемость в засушливые периоды и в морозную зиму.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 25% мятлик Everest, 25% мятлик Bluechip plus, 25% мятлик Impact, 25% мятлик NuGiade
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Спортиный»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 200 - 1200м2
                .Price__val 138 руб.
              .Price__cost
                .Price__size от 1200 - 2500
                .Price__val 130 руб.
              .Price__cost
                .Price__size от 2500 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Универсальный газон удобен своей неприхотливостью, он не требует пристального внимания и особого ухода, не подвержен заболеваниям и воздействию вредителей. Плюсом является устойчивость к высокому уровню влажности, выживаемость в засушливые периоды и в морозную зиму.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 25% мятлик Everest, 25% мятлик Bluechip plus, 25% мятлик Impact, 25% мятлик NuGiade
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Спортиный»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 200 - 1200м2
                .Price__val 138 руб.
              .Price__cost
                .Price__size от 1200 - 2500
                .Price__val 130 руб.
              .Price__cost
                .Price__size от 2500 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Универсальный газон удобен своей неприхотливостью, он не требует пристального внимания и особого ухода, не подвержен заболеваниям и воздействию вредителей. Плюсом является устойчивость к высокому уровню влажности, выживаемость в засушливые периоды и в морозную зиму.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 25% мятлик Everest, 25% мятлик Bluechip plus, 25% мятлик Impact, 25% мятлик NuGiade
        .Price__item
          .Price__heading
            .Price__checked
            .Price__variable Рулонный газон тип «Спортиный»
          .Price__inner
            .Price__pricing
              .Price__cost
                .Price__size от 200 - 1200м2
                .Price__val 138 руб.
              .Price__cost
                .Price__size от 1200 - 2500
                .Price__val 130 руб.
              .Price__cost
                .Price__size от 2500 и выше
                .Price__val договорная
            .Price__description
              .Price__text_bold ОПИСАНИЕ:
              .Price__text Универсальный газон удобен своей неприхотливостью, он не требует пристального внимания и особого ухода, не подвержен заболеваниям и воздействию вредителей. Плюсом является устойчивость к высокому уровню влажности, выживаемость в засушливые периоды и в морозную зиму.
            .Price__description
              .Price__text_bold Состав:
              .Price__text 25% мятлик Everest, 25% мятлик Bluechip plus, 25% мятлик Impact, 25% мятлик NuGiade
      .Price__right
        .Price__wrap
          img(src="../../images/price-img.png").Price__img
        form.Price__callback
          .Price__callback_title Хотите его купить?
          input(type="tel" name="tel" placeholder="Оставьте свой номер телефона").Price__input
          .Price__callback_button Заказать газон
