.Scheme
  .g-wrapper
    .Scheme__container
      h1.Scheme__heading(data-text="Все очень просто!") Схема работы
    .Scheme__scheme
      .Scheme__block
        .Scheme__image: include ../../images/step1.svg
        .Scheme__description Свяжитесь с нами, или оставьте свои данные на сайте и мы перезвоним!
      .Scheme__block
        .Scheme__image: include ../../images/step2.svg
        .Scheme__description К вам выезжает наш специалист для составления сметы и подписания договора
      .Scheme__block
        .Scheme__image: include ../../images/step3.svg
        .Scheme__description Проводим подготовительные работы, доставляем все необходимые материалы
      .Scheme__block
        .Scheme__image: include ../../images/gras.svg
        .Scheme__description.Scheme__description_last Газон готов!
