section.Special
  .Special__item
    img(src="../../images/gazon-1.jpg").Special__image
    .Special__wrap
      .Special__inner
        include ../../images/special-1.svg
        .Special__title Подготовка участка
        .Special__subtitle Очистка, снятие, культивация
  .Special__item
    img(src="../../images/gazon-1.jpg").Special__image
    .Special__wrap
      .Special__inner
        include ../../images/special-2.svg
        .Special__title Выравнивание
        .Special__subtitle Исправление неровностей, вывоз мусора
  .Special__item
    img(src="../../images/gazon-1.jpg").Special__image
    .Special__wrap
      .Special__inner
        include ../../images/special-3.svg
        .Special__title Завоз плодородного грунта
        .Special__subtitle Планирование, уплотнение
  .Special__item
    img(src="../../images/gazon-1.jpg").Special__image
    .Special__wrap
      .Special__inner
        include ../../images/special-4.svg
        .Special__title Внесение удобрений
        .Special__subtitle Кроме апреля, мая, июня
  .Special__item
    img(src="../../images/gazon-1.jpg").Special__image
    .Special__wrap
      .Special__inner
        include ../../images/special-5.svg
        .Special__title Укладка газона
        .Special__subtitle Обрезка, прикатывание
  .Special__item
    img(src="../../images/gazon-1.jpg").Special__image
    .Special__wrap
      .Special__inner
        include ../../images/special-6.svg
        .Special__title Наши рекомендации <br>Ваше отличное настроение!

