section.Table
  .g-wrapper
    table.Table__table
        caption.Table__caption Цены на рулонные газоны
        tr.Table__tr
          th.Table__th.Table__first Название газона
          th.Table__th от 400 - 1 400м2
          th.Table__th от 1 400 - 3 000м2
          th.Table__th от 3 000м2 и выше
        tr.Table__tr
          td.Table__td.Table__first Городской
          td.Table__td 135
          td.Table__td 145
          td.Table__td Договорная
        tr.Table__tr
          td.Table__td.Table__first Универсальный
          td.Table__td 150
          td.Table__td 140
          td.Table__td Договорная
        tr.Table__tr
          td.Table__td.Table__first Партерный(Элиный)
          td.Table__td 165
          td.Table__td 159
          td.Table__td Договорная
        tr.Table__tr
          td.Table__td.Table__first Теневыносливый
          td.Table__td 180
          td.Table__td 165
          td.Table__td Договорная
        tr.Table__tr
          td.Table__td.Table__first Спортивный (Делюкс)
          td.Table__td 195
          td.Table__td 180
          td.Table__td Договорная
        tr.Table__tr




    table.Table__table
        caption.Table__caption Цены на укладку газона
        tr.Table__tr
          th.Table__th Услуга
          th.Table__th Цена
        tr.Table__tr
          td.Table__td Укладка рулонного газона
          td.Table__td от 70 м2
        tr.Table__tr
          td.Table__td Подготовка основания
          td.Table__td от 130 м2
        tr.Table__tr
          td.Table__td Расчистка, выравнивание, вывоз
          td.Table__td от 70 м2
        tr.Table__tr
          td.Table__td Изменения высоты и уклонов, создание необходимого ландшафта(холмов, террас, … итп.)
          td.Table__td от 170 м2
        tr.Table__tr
          td.Table__td Газон "под ключ"(полный цикл работ: освобождение площадки отведенной под укладку газона от мусора, камней, веток и т.д. Снятие дерна, выравнивание поверхности, культивация земли, укладка плодородного слоя, подкормка(удобрение), уплотнение, укладка газона, вывоз отходов.      Газон "под ключ"(полный цикл работ: освобождение площадки отведенной под укладку газона от мусора, камней, веток и т.д. Снятие дерна, выравнивание поверхности, культивация земли, укладка плодородного слоя, подкормка(удобрение), уплотнение, укладка газона, вывоз отходов.
          td.Table__td от 280 м2


    table.Table__table
        caption.Table__caption Услуги по уходу за газоном
        tr.Table__tr
          th.Table__th Услуга
          th.Table__th Цена
        tr.Table__tr
          td.Table__td Покос (Стрижка)
          td.Table__td 9 руб м2
        tr.Table__tr
          td.Table__td Удобрение
          td.Table__td 10 руб м2
        tr.Table__tr
          td.Table__td Гибрициды (от сорняка)
          td.Table__td 15 руб м2
        tr.Table__tr
          td.Table__td Вертикальная стрижка (аэрация)
          td.Table__td 12 руб м2
        tr.Table__tr
          td.Table__td Востановление газона
          td.Table__td от 100 руб м2


    table.Table__table
        caption.Table__caption Сопутствующие товары
        tr.Table__tr
          th.Table__th Услуга
          th.Table__th Цена
        tr.Table__tr
          td.Table__td Грунт плодородный с доставкой
          td.Table__td 1300м3
        tr.Table__tr
          td.Table__td Газон посевной "под ключ" (культивация почвы,планировка, устройство плодородного слоя, посев, уход и подсев до второй стрижки)
          td.Table__td от 330 руб м2(работа +материал+уход)
        tr.Table__tr
          td.Table__td Газон "мавританский" - (культивация почвы, планировка, устройство плодородного слоя, посев)
          td.Table__td от 270 руб м2 (работа+материал+уход)
        tr.Table__tr
          td.Table__td Сетка от кротов Премиум (Г-8)
          td.Table__td 165 руб м2
        tr.Table__tr
          td.Table__td Посадка кустарников
          td.Table__td от 400 руб (1 растение)
        tr.Table__tr
          td.Table__td Посадка деревьев
          td.Table__td от 1400 руб (1 дерево)
          tr.Table__tr
          td.Table__td Посадка крупномеров
          td.Table__td от 40 % от стоимости



