extends layouts/_main.pug

block content
  header.Mini-header
    .g-wrapper
      .Mini-header__title Контакты
  include blocks/_contacts-form.pug
  include blocks/_map.pug
  include blocks/_footer.pug
