extends layouts/_main.pug

block content
  include blocks/_header.pug
  include blocks/_about-us.pug
  include blocks/_special.pug
  include blocks/_price.pug
  include blocks/_callback.pug
  include blocks/_scheme.pug
  include blocks/_main-contacts.pug
  include blocks/_footer.pug
