.Delivery
  padding-bottom 29rem
  background url('../../images/grass-footer.png') bottom center/contain repeat-x
  &__heading
    text-align center
    font-size 3.8rem
    margin-bottom 4rem
    font-weight 700
  &__content
    display flex
    justify-content space-between
  &__block
    width 48%
  &__image
    width 100%
    object-fit cover
    max-height 38rem
    margin-bottom 1.4rem
  &__title
    font-size 1.8rem
    font-weight 500
    margin-bottom 1.2rem
  &__text
    font-size 1.6rem
    margin-bottom 1.2rem
    line-height 1.9rem

@media (max-width:667px)
  .Delivery
    &__content
      display block
    &__block
      width 100%
      margin-bottom 4rem
