.Footer
  background-color #35CC62
  padding 2.7rem 0 2.4rem 0
  &__container
    display flex
    justify-content space-between
    align-items center
  &__link
    font-size: 1.9rem
    font-weight: 500
    color: white
    margin-right 1rem
  &__socials
    display flex
    aling-items center
    & a
      margin-right 2rem
  &__icon
    width 2rem
    height 2rem
    object-fit contain
