.Mini-header
  padding 24rem 0 6rem
  background url('../../images/mini-header.png') center center/cover no-repeat
  &__title
    position relative
    text-align center
    font-weight 700
    font-size 2.2rem
    color white
    text-transform uppercase
    &:after
      content ''
      height 0.2rem
      width 8rem
      background-color white
      position absolute
      left 50%
      transform translateX(-50%)
      bottom -1rem
